.owl-carousel {
  display: block !important;
}

.owl-carousel .owl-item img {
  display: inline !important;
}

.header-top-left ul li span {
  color: #ff0100 !important;
}
.any-questions-box .title h4 {
  color: #ff0100 !important;
}

.btn-primary {
  background-color: #ff0100 !important;
  border-color: #ff0100 !important;
}

.btn-outline-primary {
  color: #ff0100 !important;
  border-color: #ff0100 !important;
}

.main-menu.style2 .navigation > li:hover > a,
.main-menu.style2 .navigation > li.current > a {
  color: #ff0100 !important;
}

.visa-form-box .title h3 {
  color: #ff0100 !important;
}

.search-box-style2 button,
.search-box-style2 input[type="submit"] {
  color: #ff0100 !important;
}

.sticky-header .main-menu .navigation > li:hover > a,
.sticky-header .main-menu .navigation > li.current > a {
  color: #ff0100 !important;
}

.single-select-country .text-holder a {
  color: #ff0100 !important;
}
.view-all-country-button p a {
  color: #ff0100 !important;
}

.single-footer-widget .title:before {
  background-color: #ff0100 !important;
}

.scroll-top.style2 {
  background-color: #ff0100 !important;
}

.footer-menu ul li a:hover {
  color: #ff0100 !important;
}

.sec-title h3 {
  color: #000000 !important;
}

.banner-carousel .owl-dots .owl-dot.active {
  background-color: #ff0100 !important;
  border-color: #ff0100 !important;
}

.sent {
  text-decoration: underline;
  /*text-decoration-color: #ff0100 !important;*/
  color: white !important;
}

.btn-one:hover {
  background-color: #000000 !important;
}

.btn-one {
  margin-right: 20px;
  /* background-color: navajowhite; */
  background-color: transparent !important;
  border: 1px solid #ff0100 !important;
}

.btn-one:after {
  background: transparent !important;
}

.header-top1 {
  position: relative !important;
  display: block !important;
}

.bg-primary1 {
  background-color: #ff0100 !important;
}

/***********BREADCRUMB**************/
.breadcrumb {
  color: #000000;
  font-weight: 500;
  font-size: 0.875rem;
  display: inline-flex;
  text-align: center;
  text-decoration: inherit;
}

/***********BREADCRUMB**************/

/**************WORK-VISA-********************/

/* container */
.columns-3 {
  width: 100%;
  display: flex;
}
/* columns */
.columns-3 > * {
  width: calc(100% / 3);
}
/* Optional */
.bg-red {
  background-color: #e5e7eb;
}

.pricing {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 300;
  margin-top: 1rem;
  color: #ff0100 !important;
}

/********************************/

/***********4-column-start********************/

@import "neat";
@import "bourbon";

.flexs-container {
  padding: 0;
  margin: 0;
  background-color: #ff0100 !important;
  margin: 2em auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* -webkit-flex-flow: row wrap; */
  justify-content: space-around;
}

.flexs-item {
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  margin: 1em;
  flex: 1 1 auto;

  @media screen and (min-width: 320px) {
    width: 100vw;
  }

  @media screen and (min-width: 640px) {
    width: calc(50vw - 4em);
  }

  @media screen and (min-width: 960px) {
    width: calc(25vw - 4em);

    &:first-child {
      margin-left: auto;
    }

    &:last-child {
      margin-right: auto;
    }
  }

  @media screen and (min-width: 1280px) {
  }
}

/***********4-column-end********************/

/***************************/
.pys-10 {
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;
  border-bottom-width: 1px;
  border-top-width: 1px;
}
/***************************/
